@import "./styles/globals.css";

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-background, #EFF6F7);
}

#root {
  display: flex;
  flex-direction: column;
}
